/*Cores verde cabeça #3cd883 #1A5C38 #84E1AD*/
@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');  
}
:root{
    --cor0: white;
    --cor1: lightgray;
    --cor2: gray;
    --cor3: #84E1AD;
    --cor4: #35a768;
    --cor5: #1A5C38;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'idroid', cursive;
}
*{
    font-family: var(--font-padrao);
    margin: 0;
    font-weight: normal;
}
header{
    background-image: linear-gradient(var(--cor4), var(--cor5));
    height: 150px;
    padding-top: 20px;
    
}

h1{
    font-family: var(--font-destaque);
    text-align: center;
    font-size: 35px;
    color: var(--cor0);
    text-shadow: 2px 2px 2px black;

}
header p{
    text-align: center;
    padding: 40px 0 5px 0;
    color: var(--cor1);
    max-width: 400px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 4px 6px var(--cor2);
}

nav a{
    padding: 11px 12px;
    color: var(--cor0);
    text-decoration: none;
}

nav a:hover{
    color: var(--cor5);
    background-color: var(--cor0);
}

body{
    background-color: var(--cor3);
}

section{
    background-color: var(--cor0);
    margin: auto;
    max-width: 800px; /*Consideramos os maximos e minimos valores para tornar o site mais responsivo*/
    min-width: 300px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
    border-radius: 0 0 8px 8px;
}

div.video{
    background-color: var(--cor5);
    padding: 20px 0 20px 0;
    margin: 0 -10px 30px -10px;
    /* position: relative;
    padding-bottom: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

div.video > iframe{
    /* position: absolute;

     */ 
    width: 90%;
}

h2{
    font-family: 'idroid';
    color: var(--cor5);
    font-size: 30px;
    margin: 0;
}

h3{
    font-family: 'idroid';
    color: var(--cor5);
    background-image: linear-gradient(90deg, var(--cor4), var(--cor0));
    padding: 4px;
    text-indent: 8px;
}
section p{
    text-align: justify;
    padding: 10px 0 10px 0;
    text-indent: 30px;
    margin: 0;
}
article a{
    text-decoration: none;
    color: var(--cor5);
    font-weight: bold;
}
section a::after{
    content: '🔗';
}
img{
    width: 100%;
}
img.pequena{
    display: block;
    margin: auto;
    max-width: 330px;
}
iframe{
    
    max-width: 560px;
    min-width: 320px;
}
aside{
    margin: 16px;
    background-color: var(--cor4);
    border-radius: 1px 10px 1px 10px;
    box-shadow: 0 0 4px black;
}
aside h2{
    padding: 10px;
    color: var(--cor0);
    background-color: var(--cor5);
    border-radius: 1px 10px 0 0;

}
aside p {
    text-align: justify;
    padding: 10px 0 10px 0;
    margin: 0px 10px;
    text-indent: 30px;
}
aside ul{
    columns: 2;
    list-style-type: '🗸 ';
}
footer{
    text-align: center;
    margin-top: 16px;
    background-color: var(--cor5);
    color: var(--cor0);
    padding: 10px;
}
footer a{
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor4);
}